<div class="row">
    <div class="col-1 center-vert"><i data-project-id={{id}} class="fas fa-minus-circle deleteProject"></i></div>
    <div class="col-5">
        <h2 class="projectName"><a href="/project/{{id}}">{{name}}</a></h2>
        <p>${{needed_funding}} needed!</p>
        <p>Created by {{user.name}} on {{format_date date_created}}</p>
    </div>
    <hr class="maxWidth700">
</div>